#success-alert {
    display: none;
}

#video-container .video-js {
display: block;
float: left;
}

#video-container {
position: relative;
width: 100%;
}

.video-js {
position: inherit;
display: block;
float: right;
width: 55%;
height: 480px;
margin-top: 10px;
}

form {
    width:43%;
    display: block;
    float: left;
}

textarea#message {
    height: 150px;
}

span { margin-left : 20px; }
